@model MMSite6.Models.Item
@{
	ViewData["Title"] = "AdminUpload";
}

<h1>Admin Upload</h1>

<form method="post" enctype="multipart/form-data" asp-controller="Documents" asp-action="Post">
	<div class="form-group">
		<div>
			<p class="text-primary">Upload file to Order:</p>
			<input type="file" name="files" class="form-control-file input-group input-file" multiple />
		</div>
	</div>
	<div id="selectDiv" class="form-group">
		<label class="control-label text-primary">Select Order:</label>
		<select id="orderSelect" asp-for="orderId" class="form-control" asp-items="ViewBag.orderSummary"></select>
		</br>
		<label class="control-label text-primary">Select Location:</label>
		<select id="itemSelect" class="form-control" asp-for="itemId"></select>
	</div>
	<div>
		<div class="form-group">
			<div>
				<input type="submit" value="Upload" class="btn btn-primary" />
			</div>
		</div>
	</div>
</form>

