<div class="form-group">
    <div class="col-md-10">
        <p>An error has occured...</p>
        <p class="text-primary">
            <a asp-area="" asp-controller="Documents" asp-action="AdminUpload">Upload another file?</a>
        </p>
    </div>
</div>
