@{
	ViewData["Title"] = "About Me";
}
<h1>About Me</h1>
<br />

<div class="row p-5">
	<div class="col">
		<img style="width:450px; height: 446px;" src="https://mitchellmeasures.blob.core.windows.net/biography/biography.png" />
	</div>
	<div class="col">
		<p class="text-primary">
			I've always been interested in architecture and design.  So much so that, when I finished high school, I decided to take the Architecture program at Sheridan College.  Since graduating, I have continued to work in the architectural field throughout my career.
			Mitchell Measures was actually spawned from an experience that I had when purchasing my first house. In the old days, people would explain what they wanted to their agent, the agent would pull listing addresses from MLS and then they would all visit each house together.
		</p>
		<br />
		<br />
		<p class="text-primary">
			Today, real-estate has changed a lot. Potential home buyers tend to look through hundreds of listings on realtor.ca and many make their decisions based on photos and information on the site!
			However, I found that it was difficult to get a real feel for the house based on photos alone. I ended up trying to piece the various photos together into some sort of coherent floor plan in my head. This worked well for smaller houses but I imagined how difficult it would be to do for larger places.

		</p>
	</div>
</div>
<p class="text-primary">
	I also found that I would often skim over a house or property because I couldn’t quickly get a feel for the property. This may have been a perfectly good house but it got lost in the shuffle because it didn’t stand out from the many other properties.
	It occurred to me that having a photo of a floorplan included with the house listing would really help potential buyers to get a feel for a property and could provide a competitive advantage to realtors who are trying to distinguish themselves from the herd.
	It was then that the idea for Mitchell Measures was conceived!

</p>
