@{
	ViewData["Title"] = "Home Page";
}

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class="text-center">
	<h1 class="display-4">Welcome - Mitchell Measures</h1>
	<br />
	<img style="width:100%; height: 400px" src="https://mitchellmeasures.blob.core.windows.net/homepage/architect-architecture-blueprint-build-271667.jpg" />
	<br />
	<br />
	<p class="text-primary">Welcome to the Mitchell Measures Website! Here you can order floorplans for your business and have them designed to your exact specifications. Your order can include multiple locations and different levels of detail. You can also view you can keep track of your orders. Once your order is finished you can download it straight to your your computer.  Our main area of work is the Greater Toronto Area. Sign up to order your own floorplans today!</p>
	<p class="text-primary">Looking for a quote? Sign up and use our order page to get an estimate.</p>
</div>

