@{
	ViewData["Title"] = "Portfolio";
}

<h1>@ViewData["Title"]</h1>

<div class="container">
	<div class="row p-2">
		<div class="col">
			<img style="width:100%; height: 250px" src="https://mitchellmeasures.blob.core.windows.net/portfolio/3_tuscany_ext.jpg" />
		</div>
		<div class="col">
			<img style="width:100%; height: 250px" src="https://mitchellmeasures.blob.core.windows.net/portfolio/3_tuscany_fp.png" />
		</div>
	</div>
	<div class="row p-2">
		<div class="col">
			<img style="width:100%; height: 250px" src="https://mitchellmeasures.blob.core.windows.net/portfolio/7_maidstone_ext.jpg" />
		</div>
		<div class="col">
			<img style="width:100%; height: 250px" src="https://mitchellmeasures.blob.core.windows.net/portfolio/7_maidstone_fp.png" />
		</div>
	</div>
	<div class="row p-2">
		<div class="col">
			<img style="width:100%; height: 250px" src="https://mitchellmeasures.blob.core.windows.net/portfolio/7_potter_ext.jpg" />
		</div>
		<div class="col">
			<img style="width:100%; height: 250px" src="https://mitchellmeasures.blob.core.windows.net/portfolio/7_potter_fp.png" />
		</div>
	</div>
	<div class="row p-2">
		<div class="col">
			<img style="width:100%; height: 250px" src="https://mitchellmeasures.blob.core.windows.net/portfolio/99_tanbark_ext.jpg" />
		</div>
		<div class="col">
			<img style="width:100%; height: 250px" src="https://mitchellmeasures.blob.core.windows.net/portfolio/99_tanbark_fp.png" />
		</div>
	</div>
</div>