@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>
<style>
td{
    width:450px;
    padding-right:75px;
}
</style>

<div class="row">
    <div class="col-md-7">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h4>Create a new account.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <table>
                <tr>
                    <td>
                        <div class="form-group">
                            <label asp-for="Input.Email"></label>
                            <input asp-for="Input.Email" class="form-control" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label asp-for="Input.firstName"></label>
                            <input asp-for="Input.firstName" class="form-control" />
                            <span asp-validation-for="Input.firstName" class="text-danger"></span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <label asp-for="Input.lastName"></label>
                            <input asp-for="Input.lastName" class="form-control" />
                            <span asp-validation-for="Input.lastName" class="text-danger"></span>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label asp-for="Input.businessAddress"></label>
                            <input asp-for="Input.businessAddress" class="form-control" />
                            <span asp-validation-for="Input.businessAddress" class="text-danger"></span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>

                        <div class="form-group">
                            <label asp-for="Input.businessCity"></label>
                            <input asp-for="Input.businessCity" class="form-control" />
                            <span asp-validation-for="Input.businessCity" class="text-danger"></span>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label asp-for="Input.businessPostal"></label>
                            <input asp-for="Input.businessPostal" class="form-control" />
                            <span asp-validation-for="Input.businessPostal" class="text-danger"></span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <label asp-for="Input.companyName"></label>
                            <input asp-for="Input.companyName" class="form-control" />
                            <span asp-validation-for="Input.companyName" class="text-danger"></span>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label asp-for="Input.PhoneNumber"></label>
                            <input asp-for="Input.PhoneNumber" class="form-control" />
                            <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <label asp-for="Input.Password"></label>
                            <input asp-for="Input.Password" class="form-control" />
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label asp-for="Input.ConfirmPassword"></label>
                            <input asp-for="Input.ConfirmPassword" class="form-control" />
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>
                    </td>
                </tr>
            </table>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
